# <center> Home assignment 4. Pandas </center>

In [35]:
import pandas as pd

From [World Health Organization](https://www.who.int/emergencies/diseases/novel-coronavirus-2019) - On 31 December 2019, WHO was alerted to several cases of pneumonia in Wuhan City, Hubei Province of China. The virus did not match any other known virus. This raised concern because when a virus is new, we do not know how it affects people. So daily level information on the affected people can give some interesting insights when it is made available to the broader data science community.

This data set (```covid_19_data_ha4.csv```) has daily level information on the number of affected cases, deaths, and recovery from the 2019 novel coronavirus. Please note that this is time-series data and so the number of cases on any given day is the cumulative number. The data is available from 22 January 2020.

The data source for more details: https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset?select=covid_19_data.csv

By the way, [Johns Hopkins University](https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6) has made an excellent dashboard using the affected cases from this data set.

**Task 1** [1 point]. Read the data set ```covid_19_data_ha4.csv``` into DataFrame using pandas library, change a parameter for making the first column (```SNo```) to be the index of out table, and save a variable ```df``` for addressing to this table (DataFrame) in the next steps. Return the first 20 rows in the output and have a look at what is inside this table.

In [59]:
df = pd.read_csv('covid_19_data_ha4.csv', delimiter=',')
df = df.set_index('SNo')

df.head(20)

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,NaN,0.0,0.0
6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
11,01/22/2020,Heilongjiang,Mainland China,1/22/2020 17:00,NaN,0.0,0.0
12,01/22/2020,Henan,Mainland China,1/22/2020 17:00,5.0,0.0,0.0
13,01/22/2020,Hong Kong,Hong Kong,1/22/2020 17:00,0.0,0.0,0.0
14,01/22/2020,Hubei,Mainland China,1/22/2020 17:00,444.0,17.0,28.0
15,01/22/2020,Hunan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
16,01/22/2020,Inner Mongolia,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
17,01/22/2020,Jiangsu,Mainland China,1/22/2020 17:00,NaN,0.0,0.0
18,01/22/2020,Jiangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
19,01/22/2020,Jilin,Mainland China,1/22/2020 17:00,NaN,0.0,0.0
20,01/22/2020,Liaoning,Mainland China,1/22/2020 17:00,2.0,0.0,0.0

**Task 2** [2 points]. Look at the size of this data set (how many rows and columns it contains).Check the data types for all columns and get descriptive statistics for all of them.

*Hint*: You can summarize the numeric and text columns separately, or compile one summary that includes all data types.

In [60]:
df.shape

(236017, 7)

In [61]:
df.columns

Index(['ObservationDate', 'Province/State', 'Country/Region', 'Last Update',
       'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [62]:
df.dtypes

ObservationDate     object
Province/State      object
Country/Region      object
Last Update         object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

In [63]:
df.describe()

          Confirmed         Deaths     Recovered
count  1.572340e+05  236017.000000  2.360170e+05
mean   5.742544e+04    1487.719368  3.393027e+04
std    1.849079e+05    4770.414639  1.474800e+05
min    0.000000e+00    -178.000000 -8.544050e+05
25%    7.280000e+02       9.000000  1.000000e+01
50%    6.675500e+03     127.000000  1.224000e+03
75%    3.348300e+04     880.000000  1.263900e+04
max    3.664050e+06  108208.000000  6.399531e+06

**Task 3** [3 points]. Answer the following questions using the descriptive statistics report (from Task 2):

| Questions | 
| :--- |
| 1. How many countries covers this data set on COVID-19? |
| 2. On what observation date the table contains the most information (the greatest number of rows)?  |
| 3. What is the median  for the number of deaths?|


*Remark*: 

If you see numbers in your table in exponential format, for instance, 2.360170e+05, you can convert them to floating point for convenience:

```python 
>>> float(2.360170e+05)
236017.0
```

In [64]:
df[R'Country/Region'].nunique(dropna = True)

227

In [65]:
df['ObservationDate'].value_counts()

02/27/2021    764
02/19/2021    764
02/21/2021    764
02/24/2021    764
02/22/2021    764
             ...
01/26/2020     47
01/23/2020     46
01/25/2020     44
01/24/2020     41
01/22/2020     38
Name: ObservationDate, Length: 403, dtype: int64

In [66]:
df["Deaths"].median()

127.0

**Task 4** [1 point]. Recall a method that we used for getting counts for unique rows in the DataFrame.
Select a column with observation dates and return the distribution how many rows are in this table for each date. Make it in ascending order and select top 50 rows.

Now, you are able to see how many states and countries were confirmed to have COVID-19 starting from 22 January 2020 for the first 50 days.

In [67]:
df2 = df.groupby(R'Province/State')['ObservationDate'].nunique()
df2.head(50)

Province/State
 Montreal, QC                    10
 Norfolk County, MA               5
Abruzzo                         290
Acre                            284
Adygea Republic                 272
Aguascalientes                  284
Aichi                           276
Akita                           276
Alabama                         352
Alagoas                         284
Alameda County, CA                3
Alaska                          354
Alberta                         356
Altai Krai                      272
Altai Republic                  272
Amapa                           284
Amazonas                        284
American Samoa                    9
Amur Oblast                     272
Ancash                          276
Andalusia                       290
Andaman and Nicobar Islands     263
Andhra Pradesh                  263
Anguilla                        337
Anhui                           403
Antioquia                       276
Antofagasta                     284
Antwerp                         108
Aomori                          276
Apurimac                        276
Aragon                          290
Arauca                          276
Araucania                       284
Arequipa                        276
Arica y Parinacota              284
Arizona                         361
Arkansas                        355
Arkhangelsk Oblast              272
Aruba                           347
Arunachal Pradesh               263
Ashland, NE                       1
Assam                           263
Astrakhan Oblast                272
Asturias                        290
Atacama                         284
Atlantico                       276
Australian Capital Territory    352
Ayacucho                        276
Aysen                           284
Azad Jammu and Kashmir          263
Name: ObservationDate, dtype: int64

**Task 5** [3 points]. Check for each column how many missing values there are. 
For the columns with missing values using the method ```fillna()```. If the column has object data type (string), then replace each missing value in-place with a string 'Unknown'. If it has a float data type, replace each missing value in-place with the median value in this column. For finding the median for a particular column you can use ```df[column_name].median()```.

Re-check that now you have no missing values in a table.

In [68]:
df.isnull().sum()

ObservationDate        0
Province/State     62045
Country/Region         0
Last Update            0
Confirmed          78783
Deaths                 0
Recovered              0
dtype: int64

In [69]:
df[R"Province/State"].fillna("Unknown", inplace = True)
df.isnull().sum()

ObservationDate        0
Province/State         0
Country/Region         0
Last Update            0
Confirmed          78783
Deaths                 0
Recovered              0
dtype: int64

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 236017 entries, 1 to 236017
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ObservationDate  236017 non-null  object
 1   Province/State   236017 non-null  object
 2   Country/Region   236017 non-null  object
 3   Last Update      236017 non-null  object
 4   Confirmed        157234 non-null  float64
 5   Deaths           236017 non-null  float64
 6   Recovered        236017 non-null  float64
dtypes: float64(3), object(4)
memory usage: 14.4+ MB

In [71]:
df["Confirmed"].fillna(df["Confirmed"].median(), inplace = True)

In [72]:
df.isnull().sum()

ObservationDate    0
Province/State     0
Country/Region     0
Last Update        0
Confirmed          0
Deaths             0
Recovered          0
dtype: int64

**Bonus task [3 points]**. 

1. Create a new column called Recovered Ratio with the percentage of recovered cases out of all closed cases (both recoveries and deaths). Replace missing values in a new column by 0.0. 
2. Filter the table by two conditions: 1) only the data on the last recent available date should be left 2) the recovered ratio should be more than 0. 
3. Sort this filtered table of data by the recovered ratio in ascending order. The population of which 10 countries suffered (based on the recovered ratio) the most?

In [73]:
df['CoefRecov'] = (df['Recovered']/df['Confirmed'])*100

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 236017 entries, 1 to 236017
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ObservationDate  236017 non-null  object
 1   Province/State   236017 non-null  object
 2   Country/Region   236017 non-null  object
 3   Last Update      236017 non-null  object
 4   Confirmed        236017 non-null  float64
 5   Deaths           236017 non-null  float64
 6   Recovered        236017 non-null  float64
 7   CoefRecov        234467 non-null  float64
dtypes: float64(4), object(4)
memory usage: 16.2+ MB

In [75]:
df.columns =[column.replace(" ", "_") for column in df.columns] 
df.query('CoefRecov > 0 and Last_Update == "2021-02-28 05:22:20"', inplace = True)

In [76]:
df.sort_values("CoefRecov")
df.head(10)

,ObservationDate,Province/State,Country/Region,Last_Update,Confirmed,Deaths,Recovered,CoefRecov
SNo,,,,,,,,
235254,02/27/2021,Unknown,Afghanistan,2021-02-28 05:22:20,6675.5,2443.0,49288.0,738.341697
235255,02/27/2021,Unknown,Albania,2021-02-28 05:22:20,6675.5,1775.0,68969.0,1033.166055
235256,02/27/2021,Unknown,Algeria,2021-02-28 05:22:20,112960.0,2979.0,77976.0,69.029745
235257,02/27/2021,Unknown,Andorra,2021-02-28 05:22:20,6675.5,110.0,10429.0,156.227998
235258,02/27/2021,Unknown,Angola,2021-02-28 05:22:20,20782.0,506.0,19315.0,92.941007
235259,02/27/2021,Unknown,Antigua and Barbuda,2021-02-28 05:22:20,6675.5,14.0,291.0,4.359224
235260,02/27/2021,Unknown,Argentina,2021-02-28 05:22:20,2104197.0,51946.0,1899087.0,90.252339
235261,02/27/2021,Unknown,Armenia,2021-02-28 05:22:20,171793.0,3190.0,163309.0,95.061498
235262,02/27/2021,Unknown,Austria,2021-02-28 05:22:20,457317.0,8538.0,428904.0,93.787023
235263,02/27/2021,Unknown,Azerbaijan,2021-02-28 05:22:20,234267.0,3218.0,228651.0,97.602735